<div class="container">

    <h1 class="form-title">Login</h1>
    <form id="form-login" action="./login" method="POST">
        <label for="txtUsername">Username:</label>
        <input type="text" name="username" id="txtUsername" required>

        <label for="txtPassword">Password:</label>
        <input type="password" name="password" id="txtPassword" required>
        <div class="form-title">
            <button class="send-btn" type="submit">Log in</button>
        </div>
</div>
<div>
        <div class="form-title">
            <button class="send-btn"><a class="metalgear4" href="http://localhost:3000/createaccount">Create new account</a></button>
        </div>
    </form>
    <br><br>

</div>

